Repository Allen-Synthesis/EuroPi, pull requests merged in 2022-02, with the labels that each got.

#62 DigitalReader last_pressed and last_triggered
  .github/workflows/publish_docs.yml
  contrib/polyrhythmic_sequencer.py
  docs/.gitignore
  software/README.md
  software/firmware/europi.py
Labels: software, documentation

#65 Include inherited members in Sphinx Docs
  README.md
  docs/_templates/autosummary/module.rst
  docs/api.rst
  software/README.md
  software/firmware/europi.py
Labels: documentation

#68 automated tests and scope program
  .github/workflows/publish_docs.yml
  CHANGELOG.md
  docs/README.md
  docs/changelog.md
  docs/index.md
  docs/requirements.txt
  software/README.md
  software/firmware/contrib/scope.py
  software/firmware/europi.py
  software/requirements_dev.in
  software/requirements_dev.txt
  software/tests/conftest.py
  software/tests/contrib/test_scope.py
  software/tests/mocks/__init__.py
  software/tests/mocks/machine.py
  software/tests/mocks/ssd1306.py
  software/tests/test_europi.py
Labels: software, documentation

#70 GitHub actions tests
  .github/workflows/pytest.yml
Labels: software

#84 diagnostic script updates
  CHANGELOG.md
  software/contrib/diagnostic.md
  software/contrib/diagnostic.py
Labels: software

#85 update changelog
  CHANGELOG.md
Labels: documentation
