Repository Allen-Synthesis/EuroPi, pull requests merged in 2022-01, with the labels that each got.

#47 Update radio scanner script with latest firmware updates.
  software/oled_tips.md
  software/programs/radio_scanner.py
Labels: software

#51 generate and publish docs
  .github/workflows/publish_docs.yml
  Makefile
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/_static/.gitkeep
  docs/_templates/autosummary/module.rst
  docs/api.rst
  docs/conf.py
  docs/contributing.md
  docs/genindex.rst
  docs/index.md
  docs/make.bat
  docs/requirements.in
  docs/requirements.txt
  software/firmware/europi.py
Labels: documentation

#52 add ability to manually publish docs
  .github/workflows/publish_docs.yml
Labels: documentation

#49 Re-write calibration process
  software/firmware/calibrate.py
  software/firmware/europi.py
  software/programming_instructions.md
Labels: software, documentation

#48 Various documentation fixes
  software/README.md
  software/interesting_things.md
  software/oled_tips.md
  software/programming_instructions.md
Labels: documentation

#56 Calibration script fixes
  software/firmware/calibrate.py
Labels: software
