Repository Allen-Synthesis/EuroPi, pull requests merged in 2022-03, with the labels that each got.

#92 Correct header labeling and link
  hardware/bill_of_materials.md
Labels: hardware

#91 Create files for making library pip distributable
  .github/workflows/README.md
  .github/workflows/publish_to_pypi.yml
  software/firmware/setup.py
  software/programming_instructions.md
  software/setup.py
Labels: software

#95 Add potentiometer clarification
  hardware/bill_of_materials.md
Labels: documentation

#79 More documentation details
  .github/workflows/publish_docs.yml
  software/firmware/europi.py
Labels: documentation

#82 The menu
  CHANGELOG.md
  Makefile
  docs/api.rst
  software/contrib/README.md
  software/contrib/coin_toss.py
  software/contrib/consequencer.py
  software/contrib/diagnostic.py
  software/contrib/harmonic_lfos.py
  software/contrib/hello_world.py
  software/contrib/menu.md
  software/contrib/menu.py
  software/contrib/polyrhythmic_sequencer.py
  software/contrib/radio_scanner.py
  software/contrib/scope.py
  software/firmware/bootloader.py
  software/firmware/calibrate.py
  software/firmware/europi.py
  software/firmware/europi_script.py
  software/firmware/setup.py
  software/firmware/ui.py
  software/programming_instructions.md
  software/setup.py
  software/tests/.gitkeep
  software/tests/contrib/.gitkeep
  software/tests/contrib/test_hello_world.py
  software/tests/contrib/test_scope.py
  software/tests/test_bootloader.py
  software/tests/test_europi_script.py
Labels: software

#101 Release prep/0.2.0
  CHANGELOG.md
  Makefile
  docs/api.rst
  software/contrib/README.md
  software/contrib/coin_toss.py
  software/contrib/consequencer.py
  software/contrib/diagnostic.py
  software/contrib/harmonic_lfos.py
  software/contrib/hello_world.py
  software/contrib/menu.md
  software/contrib/menu.py
  software/contrib/polyrhythmic_sequencer.py
  software/contrib/radio_scanner.py
  software/contrib/scope.py
  software/firmware/bootloader.py
  software/firmware/calibrate.py
  software/firmware/europi.py
  software/firmware/europi_script.py
  software/firmware/setup.py
  software/firmware/ui.py
  software/programming_instructions.md
  software/setup.py
  software/tests/.gitkeep
  software/tests/contrib/.gitkeep
  software/tests/contrib/test_hello_world.py
  software/tests/contrib/test_scope.py
  software/tests/test_bootloader.py
  software/tests/test_europi_script.py
Labels: software, documentation

#103 github workflow cleanup
  .github/workflows/README.md
  .github/workflows/continuous_integration.yml
  .github/workflows/publish_to_pypi.yml
  .github/workflows/pytest.yml
  software/tests/contrib/test_hello_world.py
Labels: software, documentation
