Repository Allen-Synthesis/EuroPi, pull requests merged in 2024-11, with the labels that each got.

#371 Add Bezier Script
  software/contrib/README.md
  software/contrib/bezier-docs/curve-knob.png
  software/contrib/bezier.md
  software/contrib/bezier.py
  software/contrib/lutra.py
  software/contrib/menu.py
  software/contrib/particle_physics.py
  software/firmware/experimental/knobs.py
  software/firmware/experimental/math_extras.py
  software/firmware/experimental/screensaver.py
Labels: firmware, new script, improvement

#383 Add smooth & stepped random wave shapes to Lutra
  software/contrib/lutra-docs/wave_smooth_random.png
  software/contrib/lutra-docs/wave_step_random.png
  software/contrib/lutra.md
  software/contrib/lutra.py
Labels: new script feature

#382 Add Volts script
  software/contrib/README.md
  software/contrib/menu.py
  software/contrib/volts.md
  software/contrib/volts.py
Labels: new script

#380 Optimize Euclidean generator UI rendering
  software/contrib/euclid.py
Labels: improvement

#375 Add Slopes script
  software/contrib/README.md
  software/contrib/menu.py
  software/contrib/slopes.md
  software/contrib/slopes.py
Labels: new script

#345 Add Illustrator and SVG files for panel
  hardware/EuroPi/panel/europi-panel.ai
  hardware/EuroPi/panel/europi-panel.svg
Labels: documentation, hardware - EuroPi

#386 Fix Docker build, update UF2 docs for Linux & Mac
  software/create_custom_firmware_uf2.md
  software/uf2_build/copy_and_compile.sh
Labels: firmware, documentation

#390 Reduce the default input voltage limit to 10V instead of 12V
  software/CONFIGURATION.md
  software/contrib/scope.py
  software/firmware/europi_config.py
Labels: firmware, hardware - EuroPi
