Repository Allen-Synthesis/EuroPi, pull requests merged in 2024-03, with the labels that each got.

#337 Egressus melodium - Clockable and free-running LFO and random CV pattern generator
  software/contrib/README.md
  software/contrib/egressus_melodiam-docs/.$egressus_melodiam.png.bkp
  software/contrib/egressus_melodiam-docs/egressus_melodiam.png
  software/contrib/egressus_melodiam-docs/exp-up-exp-down.png
  software/contrib/egressus_melodiam-docs/log-up-step-down.png
  software/contrib/egressus_melodiam-docs/random.png
  software/contrib/egressus_melodiam-docs/sharktooth-rev.png
  software/contrib/egressus_melodiam-docs/sharktooth.png
  software/contrib/egressus_melodiam-docs/sine.png
  software/contrib/egressus_melodiam-docs/square-up-exp-down.png
  software/contrib/egressus_melodiam-docs/square.png
  software/contrib/egressus_melodiam-docs/tri.png
  software/contrib/egressus_melodiam.md
  software/contrib/egressus_melodiam.py
  software/contrib/menu.py
Labels: new script

#348 Remove JSON <--> String conversions when reading/writing files
  software/firmware/bootloader.py
  software/firmware/configuration.py
  software/firmware/europi_script.py
  software/firmware/file_utils.py
  software/tests/test_europi_script.py
Labels: firmware, improvement

#351 Remove trailing whitespace from all .py and .md files
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/hardware-issue.md
  .github/ISSUE_TEMPLATE/project-suggestion.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/software-bug.md
  .github/workflows/continuous_integration.yml
  README.md
  contributing.md
  frequently_asked_questions.md
  git_help.md
  hardware/EuroPi/OLED_Stand/readme.md
  hardware/EuroPi/bill_of_materials.md
  hardware/EuroPi/build_guide.md
  hardware/EuroPi/pcb/README.md
  hardware/EuroPi/skiff_friendly_instructions.md
  hardware/EuroPi/stripboard/README.md
  scripts/generate_default_configs.py
  software/CONFIGURATION.md
  software/contrib/bernoulli_gates.md
  software/contrib/bernoulli_gates.py
  software/contrib/coin_toss.md
  software/contrib/cvecorder.py
  software/contrib/diagnostic.md
  software/contrib/egressus_melodiam-docs/.$egressus_melodiam.png.bkp
  software/contrib/envelope_generator.py
  software/contrib/hamlet.md
  software/contrib/hamlet.py
  software/contrib/harmonic_lfos.py
  software/contrib/knob_playground.py
  software/contrib/master_clock.md
  software/contrib/menu.md
  software/contrib/noddy_holder.md
  software/contrib/noddy_holder.py
  software/contrib/piconacci.md
  software/contrib/piconacci.py
  software/contrib/poly_square.md
  software/contrib/poly_square.py
  software/contrib/polyrhythmic_sequencer.py
  software/contrib/probapoly.md
  software/contrib/probapoly.py
  software/contrib/quantizer.md
  software/contrib/radio_scanner.md
  software/contrib/strange_attractor.md
  software/contrib/strange_attractor.py
  software/contrib/turing_machine.md
  software/contrib/turing_machine.py
  software/create_custom_firmware_uf2.md
  software/firmware/experimental/__init__.py
  software/firmware/experimental/custom_font.md
  software/oled_tips.md
  software/programming_instructions.md
  troubleshooting.md
Labels: suggestion

#357 upgrade to micropython 1.22.2
  .github/workflows/compile_to_uf2.yml
  software/programming_instructions.md
  software/uf2_build/copy_and_compile.sh
Labels: firmware, improvement

#346 Treat `europi_config` keys like named constants
  software/CONFIGURATION.md
  software/contrib/consequencer.py
  software/contrib/diagnostic.py
  software/contrib/egressus_melodiam.py
  software/contrib/envelope_generator.py
  software/contrib/turing_machine.py
  software/firmware/configuration.py
  software/firmware/europi.py
  software/firmware/europi_config.py
  software/firmware/europi_script.py
  software/firmware/experimental/experimental_config.py
  software/firmware/experimental/quantizer.py
  software/tests/test_configuration.py
  software/tests/test_europi_script.py
Labels: firmware, suggestion, improvement
